<div>
    <div id="booking" class="section">
      <div class="section-center">
        <div class="container">
          
          <div class="row">
            <div class="booking-form">
              
              <form id="form-regist">
          
                <div style="text-align: center;">
                  <h2>REGISTRO VISACION</h2>
                </div>
                <div class="form-group">
                </div>

                <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" required id="user" name="nombre_in" class="ipt" autocomplete="off" required>
                        <label for="" placeholder="Nro. Registro" alt="Nro. Registro"></label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" required id="user" name="apellido_pat_in" class="ipt" autocomplete="off" required >
                        <label for="" placeholder="Fecha" alt="Fecha"></label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" required id="user" name="apellido_mat_in" class="ipt" autocomplete="off" >
                        <label for="" placeholder="Nro. Visacion" alt="Nro. Visacion"></label>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" required id="user" name="codigo_in" class="ipt" autocomplete="off" required>
                      <label for="" placeholder="Codigo Catastral" alt="Codigo Catastral"></label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" required id="user" name="zona_in" class="ipt" autocomplete="off" required>
                      <label for="" placeholder="Nro Inmueble" alt="Nro Inmueble"></label>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" required id="user" name="codigo_in" class="ipt" autocomplete="off" required>
                        <label for="" placeholder="Monto Base Imponible Ruat" alt="Monto Base Imponible Ruat"></label>
                      </div>
                    </div>
  
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" required id="user" name="zona_in" class="ipt" autocomplete="off" required>
                        <label for="" placeholder="Monto Minuta" alt="Zona"></label>
                      </div>
                    </div>
                  </div>

                <div class="row">

                  <div class="col-md-4">
                    <div class="form-group">
                      <select class="form-control" name="distrito_in">
                        <option style="color: #696969;">Tipo Transferencia</option>
                        <option>Regular</option>
                        <option>Financiamiento</option>
                        <option>Subasta</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <select class="form-control" name="distrito_in">
                        <option style="color: #696969;">Tipo Visacion</option>
                        <option>Compra Venta Normal</option>
                        <option>Propiedad Horizontal</option>
                        <option>Adjudicacion y/o Venta Judicial</option>
                        <option>Anticipo de Legitima (Especial)</option>
                        <option>Aporte Capital</option>
                        <option>Unilaterales Lotes (Sub Division y/o Anexion)</option>
                        <option>Adecuacion a Propiedad Horizontal </option>
                        <option>Desistimiento</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="form-group">
                      <select class="form-control" name="gestion_in">
                        <option style="color: #696969;">Clase Inmueble</option>
                        <option>Terreno</option>
                        <option>Vivienda Unifamiliar</option>
                        <option>Propiedad Horizontal</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-btn">
                      
                    </div>
                  </div>
                </div>
                <button type="submit" class="submit-btn">Guardar Registro</button>
                
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>